.container {
    margin: 0 auto;
}

.container.container-sm {
    max-width: 1024px;
    padding-left: 10px;
    padding-right: 10px;
    width: 90%;
}

.container.container-md {
    max-width: 1280px;
    padding-left: 10px;
    padding-right: 10px;
    width: 90%;
}

.container.container-lg {
    max-width: 1536px;
    padding-left: 10px;
    padding-right: 10px;
    width: 90%;
}

@media (min-width: 1024px) {
    .container.container-sm {
        padding: initial 14px;
        width: 95%;
    }

    .container.container-md {
        padding: initial 15px;
        width: 95%;
    }
    .container.container-lg {
        padding: initial 18px;
        width: 95%;
    }
}