.container {
  margin: 0 auto;
  width: 95%;
}

.container-gutter {
  padding-left: 20px;
  padding-right: 20px;
}


@media screen and (min-width: 768px) {
  .container-gutter {
    padding-left: 18px;
    padding-right: 18px;
  }
}

@media screen and (min-width: 1024px) {
  .container-gutter {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .container-gutter {
    padding-left: 14px;
    padding-right: 14px;
  }
}

@media screen and (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
  .container-gutter {
    padding-left: 12px;
    padding-right: 12px;
  }
}
