.hero {
  min-height: 110vh;
  padding: 8rem 2rem 5rem;
  background-image: linear-gradient(
    to bottom,
    var(--primary-2) 70%,
    var(--primary-2) 30%
  );
}

.hero-title {
  font-size: 1.875rem;
  line-height: 2.25rem;
  text-align: center;
  letter-spacing: 0.02em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.hero-description {
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  margin-top: 1rem;
  font-family: 'Open Sans', sans-serif;
}

.hero-input {
  margin: 3rem auto 1rem;
  width: 100%;
}

.hero-video {
  padding-top: 2rem;
  padding-bottom: 2.5rem;
}

.hero-loading,
.hero-error {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
}

@media (min-width: 768px) {
  .hero-input {
    width: 80%;
  }

  .hero-title {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .hero-description {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1024px) {
  .hero {
    min-height: 110vh;
    padding: 10rem 2rem 8rem;
  }
  
  .hero-input {
    width: 75%;
  }

  .hero-title {
    font-size: 3rem;
    line-height: 1;
  }

  .hero-description {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}

@media (min-width: 1526px) {
  .hero-input {
    width: 70%;
  }
}
