
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}


body {
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);
  font-family: 'Poppins', 'Open Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ol, li {
  list-style: none;
}

img, canvas, audio, video, svg, iframe {
  display: block;
}

*, ::before, ::after {
  border-width: 0px;
  border-style: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
