.navmenu {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.menu {
  display: inline-flex;
  align-items: center;
  color: var(--black, gray);
}

.menu-text {
  margin-right: 0.6rem;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.025em;
  transition: color 300ms var(--animation-passive-move-in);
}

.menu:hover {
  color: var(--primary-1, orange);
}

.menu-icon {
  width: 1rem;
  height: 1rem;
  transition: transform 300ms var(--animation-passive-move-in);
}

.menu-icon_open {
  transform: rotate(180deg);
}

.menu-icon_close {
  transform: rotate(0deg);
}

.menu-icon svg {
  width: 100%;
  height: 100%;
  stroke-width: 2px;
}

.navmenu-panel {
  position: absolute;
  width: calc(100vw - 10rem);
  right: 0;
  top: calc(var(--navbar-height));
  background-color: var(--white);
  z-index: 50;
  height: 75vh;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  box-shadow: var(--shadow-primary);
}

.navmenu-divider {
  height: 0.25rem;
  width: 100%;
  background-color: var(--gray-20);
}

.navmenu-wrapper {
  padding: 3.5rem 2.5rem 3rem;
  width: 100%;
  height: calc(75vh - 0.25rem);
}

.panel-enter {
  transition-property: opacity, transform;
  transition-duration: var(--fast);
  transition-timing-function: var(--animation-move-in);
}

.panel-enter-from {
  opacity: 0;
  transform: translateY(4px);
}

.panel-enter-to {
  opacity: 1;
  transform: translateY(0px);
}

.panel-leave-from {
  opacity: 1;
  transform: translateY(0px);
}

.panel-leave-to {
  opacity: 0;
  transform: translateY(4px);
}

.panel-leave {
  transition-property: opacity, transform;
  transition-duration: var(--slow);
  transition-timing-function: var(--animation-move-out);
}
