.navbar {
  padding-top: 5px;
  padding-bottom: 5px;
  height: var(--navbar-height);
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: var(--white);
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar-logo {
  flex-shrink: 0;
}

.navbar nav {
  display: none;
  flex: 1 1 auto;
  align-items: center;
  justify-content: flex-end;
}

.navbar nav > * + * {
  margin-left: 1.5rem;
}

.navlink {
  margin-left: 0.5rem;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.025em;
  color: var(--black, gray);
  transition: color 200ms ease-in;
}

.navlink:hover {
  color: var(--primary-1);
}

.navbar-icon {
  flex-shrink: 0;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.6rem;
  height: 1.5rem;
  position: relative;
}

.mobile-icon {
  position: relative;
  display: block;
  width: 100%;
  height: 0.15rem;
  background-color: var(--white);
  transition: transform var(--fast) ease-in;
}

.mobile-icon::before,
.mobile-icon::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  background-color: var(--black);
  transition: transform var(--fast) ease-in;
  transform-origin: center;
}

.mobile-icon_open.mobile-icon::after {
  transform: rotate(-45deg);
  bottom: 0px;
}

.mobile-icon_close.mobile-icon::after {
  bottom: -8px;
  transform: rotate(0deg);
}

.mobile-icon.mobile-icon_open::before {
  top: 0px;
  transform: rotate(45deg);
}

.mobile-icon.mobile-icon_close::before {
  top: -8px;
  transform: rotate(0deg);
  
}


.navmenu-links {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  overflow: hidden;
}

/* The padding might need to be change when the downloaders becomes too many */
.navmenu-link {
  padding: 1rem;
}

@media (min-width: 1024px) {
  .navbar {
    justify-content: start;
  }
  .navbar nav {
    display: flex;
  }

  .navbar-icon {
    display: none;
  }
}
