.accordion {
  width: 100%;
}


.accordion-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-2);
  padding: 1.2rem 0.5rem;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--slate-dark-2);
  width: 100%;
}

.accordion-btn:hover {
  color: var(--primary-1);
}

.accordion-btn:focus {
  outline: none;
}

.accordion-icon {
  width: 1.25rem;
  height: 1.25rem;
  color: inherit;
  transition: transform var(--fast) var(--animation-passive-move-in);
  stroke-width: 1.5px;
}

.accordion-icon_open {
  transform: rotate(180deg);
}

.accordion-icon_close {
    transform: rotate(0deg);
}

.accordion-panel {
  font-size: 0.95rem;
  line-height: 1.2rem;
  padding: 0.8rem 0.5rem;
  height: auto;
  width: 100%;
}

.accordion-panel > div {
  width: 100%;
}

.panel-enter, .panel-leave {
  transition-property: transform, opacity;
  transition-duration: var(--medium);
  transition-timing-function: var(--animation-move-in);
}

.panel-enter-from, .panel-leave-to {
  transform: translateY(-100%);
  opacity: 0;
}

.panel-enter-to, .panel-leave-from {
  transform: translateY(0%);
  opacity: 1;
}


